<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户编辑</title>
    {% include 'system/common/header.html' %}
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">PatientID</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ patient_res.PatientID }}" name="PatientID" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">编号</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ patient_res.PatientNo }}" name="PatientNo" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-form-label">患者姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="Name" value="{{ patient_res.Name }}" lay-verify="title" autocomplete="off" placeholder="请输入患者姓名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="Sex" value="男" {% if patient_res.Sex == '男' %}checked{% endif %} lay-verify="required" autocomplete="off" class="layui-input">男
                        <input type="radio" name="Sex" value="女" {% if patient_res.Sex == '女' %}checked{% endif %} lay-verify="required" autocomplete="off" class="layui-input">女 
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-block">
                        <input type="text" name="ContactPhone" value="{{ patient_res.ContactPhone }}" lay-verify="mobile" autocomplete="off" placeholder="请输入电话号码" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">证件号</label>
                    <div class="layui-input-block">
                        <input type="text" name="IdNumber" value="{{ patient_res.IdNumber }}" lay-verify="number" autocomplete="off" placeholder="请输入证件号" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">生日</label>
                    <div class="layui-input-block">
                        <input type="text" name="Birthday" value="{{ patient_res.Birthday }}"  id="laydate-type-date" lay-verify="title" autocomplete="off" placeholder="请输入生日" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="Address" value="{{ patient_res.Address }}" lay-verify="title" autocomplete="off" placeholder="请输入地址" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">职业</label>
                    <div class="layui-input-block">
                        <input type="text" name="Career" value="{{ patient_res.Career }}" lay-verify="title" autocomplete="off" placeholder="请输入职业" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">民族</label>
                    <div class="layui-input-block">
                        <input type="text" name="Nation" value="{{ patient_res.Nation }}" lay-verify="title" autocomplete="off" placeholder="请输入民族" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">推荐人</label>
                    <div class="layui-input-block">
                        <input type="text" name="CustomerType" value="{{ patient_res.CustomerType }}" lay-verify="title" autocomplete="off" placeholder="请输入推荐人" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <input type="text" name="Remarks" value="{{ patient_res.Remarks }}" lay-verify="title" autocomplete="off" placeholder="请输入备注" class="layui-input">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="user-update">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="button" class="pear-btn pear-btn-sm" id="close-btn">
                <i class="layui-icon layui-icon-close"></i>
                关闭
            </button>
        </div>
    </div>
</form>
{% include 'system/common/footer.html' %}
<script>
    layui.use(['form', 'jquery', 'dtree'], function () {
        let form = layui.form
        let $ = layui.jquery
        let dtree = layui.dtree

        var laydate = layui.laydate;

        laydate.render({
            elem: '#laydate-type-date',
            format: 'yyyy-MM-dd'
        });

        form.on('submit(user-update)', function (data) {
            $.ajax({
                url: '/system/cnmedicine/update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                            parent.layui.table.reload('user-table')
                        })
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000})
                    }
                }
            })
            return false
        })
        
        // 关闭按钮点击事件
        $('#close-btn').on('click', function() {
            parent.layer.close(parent.layer.getFrameIndex(window.name))
        })
    })
</script>
</body>
</html>