<!DOCTYPE html>
<html>
<head>
    <title>患者总览</title>
    {% include 'system/common/header.html' %}
    <link rel="stylesheet" href="/static/system/component/layui2.13/css/layui.css"/>
    <style>
        .fullScreen {
            transition: color 0.3s;
        }
        .fullScreen:hover {
            color: #1E9FFF !important;
        }
    </style>
</head>
<body class="pear-container">
<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">患者姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Name" placeholder="" class="layui-input">
                        </div>
                        <label class="layui-form-label">患者编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="PatientNo" placeholder="" class="layui-input">
                        </div>
                        <label class="layui-form-label">患者电话</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ContactPhone" placeholder="" class="layui-input">
                        </div>
                        <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="patientsummary-query">
                            <i class="layui-icon layui-icon-search"></i>查询
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-body">
                <table id="patientsummary-table" ></table>
            </div>
        </div>
    </div>
    <div class="layui-col-md9">
        <div class="layui-card">
            
            <div class="layui-card-body" id="patientsummary-data">
                <div class="layui-tab" lay-filter="test-handle" lay-allowclose="true">
                    <ul class="layui-tab-title">
                      <li class="layui-this" lay-id="11">起始页</li>
                      <a style="float: right;" href="javascript:;" class="fullScreen layui-icon layui-icon-screen-full" title="全屏"></a>
                    </ul>
                    <div class="layui-tab-content">
                      <div class="layui-tab-item layui-show">
                            <h2 style="text-align: center;margin-top: 100px; margin-bottom: 100px; color: #999;">
                              <div class="empty-tip">请选择患者！</div>
                            </h2>
                      </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
</body>

<script type="text/html" id="dict-data-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script type="text/html" id="dict-data-enable">
    <input type="checkbox" value="{{ "{{ d.dataId }}" }}" lay-skin="switch" lay-text="启用|禁用"
           lay-filter="dict-data-enable"
            {{ "{{# if(d.enable==1){ }} checked {{# } }}" }}>
</script>

{% include 'system/common/footer.html' %}
<script>
  layui.use(['table', 'form', 'jquery', 'popup'], function () {
    let table = layui.table
    let form = layui.form
    let $ = layui.jquery
    let popup = layui.popup
    let typeCode

    let MODULE_PATH = "{{ url_for('system.patientsummary.main') }}"
    let cols = [
      [
        { title: '患者姓名', field: 'Name', align: 'left', width: 110 },
        { title: '患者编号', field: 'PatientNo', align: 'center', width: 110 },
        { title: '患者电话', field: 'ContactPhone', align: 'center', width: 110 },
        { title: '患者ID', field: 'PatientID', hide: true }
      ]
    ]
    // 左边患者列表
    table.render({
        elem: '#patientsummary-table',
        url: MODULE_PATH + 'data',
        page: true,
        cols: cols,
        skin: 'line',
        height: 'full-148',
        text: {none: '暂无患者信息'}
    })

    form.on('submit(patientsummary-query)', function (data) {
      table.reload('patientsummary-table', { where: data.field })
      return false
    })

    // 表格行点击事件
    var element = layui.element;
    var util = layui.util;

    table.on('row(patientsummary-table)', function (obj) {
        let patientID = obj.data.PatientID
        let patientName = obj.data.Name
        if (patientID) {
            // 检查是否已存在该患者的 tab
            const tabId = 'patient-' + patientID
            const existingTab = $('li[lay-id="' + tabId + '"]')
            
            if (existingTab.length > 0) {
                // 如果已存在，直接切换到该 tab
                element.tabChange('test-handle', tabId)
            } else {
                // 新增一个 tab 项，使用 iframe 嵌套页面
                const detailUrl = MODULE_PATH + 'detail/' + patientID
                const iframeId = 'detail-iframe-' + patientID
                const iframeContent = '<div style="width: 100%; height: 100%; position: relative;"><iframe id="' + iframeId + '" src="' + detailUrl + '" frameborder="0" style="width: 100%; height: calc(100vh - 250px); min-height: 600px; border: none;"></iframe></div>'
                
                element.tabAdd('test-handle', {
                    title: patientName,
                    content: iframeContent,
                    id: tabId,
                    change: true // 是否添加完毕后即自动切换
                })
                
                // 等待 tab 渲染完成后，调整 iframe 高度
                setTimeout(function() {
                    const $iframe = $('#' + iframeId)
                    if ($iframe.length > 0) {
                        // 监听 iframe 内容加载完成，自动调整高度
                        $iframe.on('load', function() {
                            try {
                                const iframeDoc = this.contentDocument || this.contentWindow.document
                                const iframeHeight = Math.max(
                                    iframeDoc.body.scrollHeight,
                                    iframeDoc.body.offsetHeight,
                                    iframeDoc.documentElement.clientHeight,
                                    iframeDoc.documentElement.scrollHeight,
                                    iframeDoc.documentElement.offsetHeight
                                )
                                $(this).css('height', (iframeHeight + 20) + 'px')
                            } catch (e) {
                                // 跨域情况下无法获取内容高度，使用默认高度
                                console.log('无法获取 iframe 内容高度:', e)
                            }
                        })
                    }
                }, 100)
            }
        }
    })
    
    // 全屏功能
    function toggleFullscreen() {
        const $fullScreenBtn = $('.fullScreen')
        const $card = $fullScreenBtn.closest('.layui-card')
        const $cardBody = $card.find('#patientsummary-data')
        const isFullscreen = $fullScreenBtn.hasClass('layui-icon-screen-restore')
        
        if (isFullscreen) {
            // 退出全屏
            if (document.exitFullscreen) {
                document.exitFullscreen()
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen()
            } else if (document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen()
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen()
            } else {
                // 如果浏览器不支持全屏API，使用CSS方式
                $cardBody.css({
                    'position': '',
                    'z-index': '',
                    'top': '',
                    'left': '',
                    'width': '',
                    'height': '',
                    'background': '',
                    'overflow': ''
                })
                $card.removeClass('fullscreen-mode')
                $fullScreenBtn.removeClass('layui-icon-screen-restore').addClass('layui-icon-screen-full')
            }
        } else {
            // 进入全屏
            const element = $cardBody[0]
            if (element.requestFullscreen) {
                element.requestFullscreen().then(function() {
                    $fullScreenBtn.removeClass('layui-icon-screen-full').addClass('layui-icon-screen-restore')
                }).catch(function(err) {
                    console.error('全屏失败:', err)
                    // 如果全屏API失败，使用CSS方式
                    useCssFullscreen()
                })
            } else if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen()
                $fullScreenBtn.removeClass('layui-icon-screen-full').addClass('layui-icon-screen-restore')
            } else if (element.webkitRequestFullScreen) {
                element.webkitRequestFullScreen()
                $fullScreenBtn.removeClass('layui-icon-screen-full').addClass('layui-icon-screen-restore')
            } else if (element.msRequestFullscreen) {
                element.msRequestFullscreen()
                $fullScreenBtn.removeClass('layui-icon-screen-full').addClass('layui-icon-screen-restore')
            } else {
                // 浏览器不支持全屏API，使用CSS方式
                useCssFullscreen()
            }
        }
        
        function useCssFullscreen() {
            $cardBody.css({
                'position': 'fixed',
                'z-index': '9999',
                'top': '0',
                'left': '0',
                'width': '100%',
                'height': '100%',
                'background': '#fff',
                'overflow-y': 'auto'
            })
            $card.addClass('fullscreen-mode')
            $fullScreenBtn.removeClass('layui-icon-screen-full').addClass('layui-icon-screen-restore')
        }
    }
    
    $('.fullScreen').on('click', function(e) {
        e.preventDefault()
        toggleFullscreen()
    })
    
    // 监听全屏状态变化
    function handleFullscreenChange() {
        const isFullscreen = document.fullscreenElement || 
                            document.mozFullScreenElement || 
                            document.webkitFullscreenElement || 
                            document.msFullscreenElement
        
        if (!isFullscreen) {
            $('.fullScreen').removeClass('layui-icon-screen-restore').addClass('layui-icon-screen-full')
            const $card = $('.fullScreen').closest('.layui-card')
            const $cardBody = $card.find('#patientsummary-data')
            $cardBody.css({
                'position': '',
                'z-index': '',
                'top': '',
                'left': '',
                'width': '',
                'height': '',
                'background': '',
                'overflow': ''
            })
            $card.removeClass('fullscreen-mode')
        }
    }
    
    // 监听各种全屏事件
    document.addEventListener('fullscreenchange', handleFullscreenChange)
    document.addEventListener('webkitfullscreenchange', handleFullscreenChange)
    document.addEventListener('mozfullscreenchange', handleFullscreenChange)
    document.addEventListener('MSFullscreenChange', handleFullscreenChange)
    
    form.on('switch(dict-type-enable)', function (obj) {
      let operate
      if (obj.elem.checked) {
        operate = 'enable'
      } else {
        operate = 'disable'
      }
      let loading = layer.load()
      $.ajax({
        url: '/system/dict/dictType/' + operate,
        data: JSON.stringify({ id: this.value }),
        dataType: 'json',
        contentType: 'application/json',
        type: 'put',
        success: function (result) {
          layer.close(loading)
          if (result.success) {
            popup.success(result.msg)
          } else {
            popup.failure(result.msg)
          }
        }
      })
    })

    window.addType = function () {
      layer.open({
        type: 2,
        title: '新增',
        shade: 0.1,
        area: ['500px', '400px'],
        content: '/system/dict/dictType/add'
      })
    }

    window.editType = function (obj) {
      layer.open({
        type: 2,
        title: '修改',
        shade: 0.1,
        area: ['500px', '400px'],
        content: '/system/dict/dictType/edit?dictTypeId=' + obj.data['id']
      })
    }

    window.removeType = function (obj) {
      layer.confirm('确定要删除该字典分类', { icon: 3, title: '提示' }, function (index) {
        layer.close(index)
        let loading = layer.load()
        $.ajax({
          url: '/system/dict/dictType/remove/' + obj.data['id'],
          dataType: 'json',
          type: 'delete',
          success: function (result) {
            layer.close(loading)
            if (result.success) {
              popup.success(result.msg, function () {
                if (typeCode === obj.data['typeCode']) {
                  $('[lay-id=\'dict-data-table\']').remove()
                  $('.empty').show()
                }
                obj.del()
              })
            } else {
              popup.failure(result.msg)
            }
          }
        })
      })
    }

    window.refreshType = function () {
      table.reload('dict-type-table')
    }

    window.addData = function () {
      layer.open({
        type: 2,
        title: '新增',
        shade: 0.1,
        area: ['500px', '450px'],
        content: '/system/dict/dictData/add?typeCode=' + typeCode
      })
    }

    window.editData = function (obj) {
      layer.open({
        type: 2,
        title: '修改',
        shade: 0.1,
        area: ['500px', '450px'],
        content: '/system/dict/dictData/edit?dataId=' + obj.data['dataId']
      })
    }

    window.removeData = function (obj) {
      layer.confirm('确定要删除该字典值', { icon: 3, title: '提示' }, function (index) {
        layer.close(index)
        let loading = layer.load()
        $.ajax({
          url: '/system/dict/dictData/remove/' + obj.data['dataId'],
          dataType: 'json',
          type: 'delete',
          success: function (result) {
            layer.close(loading)
            if (result.success) {
              popup.success(result.msg, function () {
                obj.del()
              })
            } else {
              popup.failure(result.msg)
            }
          }
        })
      })
    }

    table.on('tool(dict-data-table)', function (obj) {
      if (obj.event === 'remove') {
        window.removeData(obj)
      } else if (obj.event === 'edit') {
        window.editData(obj)
      } else if (obj.event === 'details') {
        window.details(obj)
      }
    })

    table.on('toolbar(dict-data-table)', function (obj) {
      if (obj.event === 'add') {
        window.addData()
      } else if (obj.event === 'refresh') {
        window.refreshData()
      }
    })

    form.on('submit(dict-data-query)', function (data) {
      data.field.typeCode = typeCode
      table.reload('dict-data-table', { where: data.field })
      return false
    })

    form.on('switch(dict-data-enable)', function (obj) {
      let operate
      if (obj.elem.checked) {
        operate = 'enable'
      } else {
        operate = 'disable'
      }
      let loading = layer.load()
      $.ajax({
        url: '/system/dict/dictData/' + operate,
        data: JSON.stringify({ dataId: this.value }),
        dataType: 'json',
        contentType: 'application/json',
        type: 'put',
        success: function (result) {
          layer.close(loading)
          if (result.success) {
            popup.success(result.msg)
          } else {
            popup.failure(result.msg)
          }
        }
      })
    })

    window.refreshData = function () {
      table.reload('dict-data-table')
    }
  })
</script>
</html>