<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户编辑</title>
    {% include 'system/common/header.html' %}
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">HistoryID</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ Results.HistoryID }}" name="HistoryID" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-form-label">患者姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="Name" value="{{ Results.Name }}" lay-verify="title" autocomplete="off" placeholder="请输入患者姓名" class="layui-input" readonly style="background-color: #f5f5f5; cursor: not-allowed;">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">既往史</label>
                    <div class="layui-input-block">
                        <textarea name="PastHistory" placeholder="请输入既往史" class="layui-textarea" rows="3">{{ Results.PastHistory or '' }}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">个人史</label>
                    <div class="layui-input-block">
                        <textarea name="PersonalHistory" placeholder="请输入个人史" class="layui-textarea" rows="3">{{ Results.PersonalHistory or '' }}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">婚育史</label>
                    <div class="layui-input-block">
                        <textarea name="MarriageHistory" placeholder="请输入婚育史" class="layui-textarea" rows="3">{{ Results.MarriageHistory or '' }}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">家族史</label>
                    <div class="layui-input-block">
                        <textarea name="FamilyHistory" placeholder="请输入家族史" class="layui-textarea" rows="3">{{ Results.FamilyHistory or '' }}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">过敏史</label>
                    <div class="layui-input-block">
                        <textarea name="AllergyHistory" placeholder="请输入过敏史" class="layui-textarea" rows="3">{{ Results.AllergyHistory or '' }}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">月经史</label>
                    <div class="layui-input-block">
                        <textarea name="MenstrualHistory" placeholder="请输入月经史" class="layui-textarea" rows="3">{{ Results.MenstrualHistory or '' }}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">其它</label>
                    <div class="layui-input-block">
                        <textarea name="Other" placeholder="请输入其它" class="layui-textarea" rows="3">{{ Results.Other or '' }}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">小结</label>
                    <div class="layui-input-block">
                        <textarea name="Summary" placeholder="请输入小结" class="layui-textarea" rows="3">{{ Results.Summary or '' }}</textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="user-update">
                <i class="layui-icon layui-icon-ok"></i>提交
            </button>
            <button type="button" class="pear-btn pear-btn-sm" id="close-btn">
                <i class="layui-icon layui-icon-close"></i>关闭
            </button>
        </div>
    </div>
</form>
{% include 'system/common/footer.html' %}
<script>
    layui.use(['form', 'jquery', 'dtree'], function () {
        let form = layui.form
        let $ = layui.jquery
        let dtree = layui.dtree

        var laydate = layui.laydate;

        form.on('submit(user-update)', function (data) {
            $.ajax({
                url: '/system/patientmedicalhistories/update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                            parent.layui.table.reload('user-table')
                        })
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000})
                    }
                }
            })
            return false
        })
        
        // 关闭按钮点击事件
        $('#close-btn').on('click', function() {
            parent.layer.close(parent.layer.getFrameIndex(window.name))
        })
    })
</script>
</body>
</html>