<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>预约编辑</title>
    {% include 'system/common/header.html' %}
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item layui-hide">
                <label class="layui-form-label">AppointmentID</label>
                <div class="layui-input-block">
                    <input type="text" value="{{ appointment.AppointmentID }}" name="AppointmentID" lay-verify="required" autocomplete="off" class="layui-input">

                     <input type="text" value="{{ appointment.PatientID }}" name="PatientID" lay-verify="required" autocomplete="off" placeholder="请输入患者ID" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">患者姓名</label>
                <div class="layui-input-block">
                    <input type="text" value="{{ appointment.PatientName if appointment.PatientName else '' }}" name="Name" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">预约时间</label>
                <div class="layui-input-block">
                    <input type="text" id="laydate-type-datetime" value="{{ appointment.AppointmentTime }}" name="AppointmentTime" lay-verify="required" autocomplete="off" placeholder="请选择预约时间" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <input type="text" value="{{ appointment.Remarks }}" name="Remarks" autocomplete="off" placeholder="请输入备注" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-hide">
                <label class="layui-form-label">创建ID</label>
                <div class="layui-input-block">
                    <input type="text" value="{{ appointment.CreateID }}" name="CreateID" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-hide">
                <label class="layui-form-label">创建人</label>
                <div class="layui-input-block">
                    <input type="text" value="{{ appointment.Creator }}" name="Creator" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-hide">
                <label class="layui-form-label">创建时间</label>
                <div class="layui-input-block">
                    <input type="text" value="{{ appointment.CreateDate }}" name="CreateDate" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="appointment-update">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="button" class="pear-btn pear-btn-sm" id="close-btn">
                <i class="layui-icon layui-icon-close"></i>
                关闭
            </button>
        </div>
    </div>
</form>
{% include 'system/common/footer.html' %}
<script>
    layui.use(['form', 'jquery', 'laydate'], function () {
        let form = layui.form
        let $ = layui.jquery
        let laydate = layui.laydate

        // 渲染日期时间选择器
        laydate.render({
            elem: '#laydate-type-datetime',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm:ss'
        })

        form.on('submit(appointment-update)', function (data) {
            $.ajax({
                url: '/outpatients/update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                            parent.layui.table.reload('outpatients-table')
                        })
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000})
                    }
                }
            })
            return false
        })
        
        // 关闭按钮点击事件
        $('#close-btn').on('click', function() {
            parent.layer.close(parent.layer.getFrameIndex(window.name))
        })
    })
</script>
</body>
</html>