<!DOCTYPE html>
<html>
<head>
    <title>日志</title>
    {% include 'system/common/header.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='system/admin/css/other/console2.css') }}"/>
</head>
<body class="pear-container">

<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">登录日志</li>
                <li>操作日志</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    {# 登录日志查询表单 #}
                    <form class="layui-form" action="" lay-filter="login-log-query-form" style="margin-top: 10px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" placeholder="请输入用户名" class="layui-input">
                            </div>
                            <label class="layui-form-label">IP地址</label>
                            <div class="layui-input-inline">
                                <input type="text" name="ip" placeholder="请输入IP地址" class="layui-input">
                            </div>
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <select name="success">
                                    <option value="">全部</option>
                                    <option value="1">成功</option>
                                    <option value="0">失败</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="login-log-query">
                                    <i class="layui-icon layui-icon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="pear-btn pear-btn-md">
                                    <i class="layui-icon layui-icon-refresh"></i>
                                    重置
                                </button>
                            </div>
                        </div>
                    </form>
                    <table style="margin-top: 10px;" id="log-login-table" lay-filter="log-login-table"></table>
                </div>
                <div class="layui-tab-item">
                    {# 操作日志查询表单 #}
                    <form class="layui-form" action="" lay-filter="operate-log-query-form" style="margin-top: 10px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" placeholder="请输入用户名" class="layui-input">
                            </div>
                            <label class="layui-form-label">模块</label>
                            <div class="layui-input-inline">
                                <input type="text" name="module_name" placeholder="请输入模块名称" class="layui-input">
                            </div>
                            <label class="layui-form-label">操作类型</label>
                            <div class="layui-input-inline">
                                <input type="text" name="operation_type" placeholder="请输入操作类型" class="layui-input">
                            </div>
                            <label class="layui-form-label">接口</label>
                            <div class="layui-input-inline">
                                <input type="text" name="url" placeholder="请输入接口地址" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <select name="success">
                                    <option value="">全部</option>
                                    <option value="1">成功</option>
                                    <option value="0">失败</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="operate-log-query">
                                    <i class="layui-icon layui-icon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="pear-btn pear-btn-md">
                                    <i class="layui-icon layui-icon-refresh"></i>
                                    重置
                                </button>
                            </div>
                        </div>
                    </form>
                    <table style="margin-top: 10px;" id="log-operate-table" lay-filter="log-operate-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


<script type="text/html" id="log-createTime">
    {{ '  {{layui.util.toDateString(d.create_time,  "yyyy-MM-dd HH:mm:ss")}' |safe }}}
</script>
<script type="text/html" id="log-status">
    {{ '{{#if (d.success == true) { }}
    <span style="color: green">成功</span>
    {{# }else if(d.success == false){ }}
    <span style="color: red">失败</span>
    {{# } }}'|safe }}
</script>
{% include 'system/common/footer.html' %}
<script>
  layui.use(['table', 'form', 'jquery', 'element', 'util'], function () {
    let table = layui.table
    let form = layui.form

    let MODULE_PATH = '/system/log/'

    let loginCols = [
      [
        { title: 'ID', field: 'id', align: 'center', width: 80 },
        { title: '用户名', field: 'username', align: 'center', width: 120 },
        { title: 'IP地址', field: 'ip', align: 'center', width: 140 },
        { title: '浏览器', field: 'browser', align: 'center', width: 120 },
        { title: '操作系统', field: 'os', align: 'center', width: 150 },
        { title: '访问时间', field: 'create_time', templet: '#log-createTime', align: 'center', width: 180 },
        { title: '描述', field: 'desc', align: 'center', width: 120 },
        { title: '状态', templet: '#log-status', align: 'center', width: 100 }
      ]
    ]

    let operateCols = [
      [
        { title: 'ID', field: 'id', align: 'center', width: 80 },
        { title: '用户名', field: 'username', align: 'center', width: 120 },
        { title: '模块', field: 'module_name', align: 'center', width: 120 },
        { title: '操作类型', field: 'operation_type', align: 'center', width: 100 },
        { title: '请求方式', field: 'method', align: 'center', width: 100 },
        { title: '接口', field: 'url', align: 'center', width: 200 },
        { title: 'IP地址', field: 'ip', align: 'center', width: 140 },
        { title: '浏览器', field: 'browser', align: 'center', width: 120 },
        { title: '操作系统', field: 'os', align: 'center', width: 150 },
        { title: '访问时间', field: 'create_time', templet: '#log-createTime', align: 'center', width: 180 },
        { title: '描述', field: 'desc', align: 'center', width: 250 },
        { title: '状态', templet: '#log-status', align: 'center', width: 100 }
      ]
    ]

    table.render({
      elem: '#log-operate-table',
      url: MODULE_PATH + 'operateLog',
      page: true,
      cols: operateCols,
      skin: 'line',
      toolbar: false,
      height: 'full-200'
    })

    table.render({
      elem: '#log-login-table',
      url: MODULE_PATH + 'loginLog',
      page: true,
      cols: loginCols,
      skin: 'line',
      toolbar: false,
      height: 'full-200'
    })

    // 登录日志查询
    form.on('submit(login-log-query)', function (data) {
      table.reload('log-login-table', { where: data.field })
      return false
    })

    // 操作日志查询
    form.on('submit(operate-log-query)', function (data) {
      table.reload('log-operate-table', { where: data.field })
      return false
    })

    table.on('tool(log-operate-table)', function (obj) {
      if (obj.event === 'details') {
        window.info(obj)
      }
    })

    table.on('tool(log-login-table)', function (obj) {
      if (obj.event === 'details') {
        window.info(obj)
      }
    })

    window.info = function (obj) {
      layer.open({
        type: 2,
        title: '详细信息',
        shade: 0,
        area: ['400px', '400px'],
        content: MODULE_PATH + 'info',
        success: function (layero) {
          let iframeWin = window[layero.find('iframe')[0]['name']]
          iframeWin.show(obj.data)
        }
      })
    }
  })
</script>
</html>